    * {
        margin:0;
        padding:0;
        box-sizing: content-box;
    }

    body {
        height: 100vh;
        width:100vw;
        font-family:'Poppins', sans-serif;
    }

    .container {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 1.5rem;
        width: 100vw;
        text-align: center;
    }

    input {
        font-size: 1.5rem;
        position: relative;
        left: 50%;
        right: 50%;
        margin-top: 5vh;
        padding: 15px;
        background-color:transparent;
        outline: none;
        cursor: pointer;
    }

    .container input {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

